.table {
    display    : block;
    width      : 100%;
    height     : calc(100% - 45px);
    padding-top: 10px;
    box-sizing : border-box;
    position   : relative;

    &-wrapper {
        width     : 100%;
        height    : 100%;
        box-sizing: border-box;
        @include tableRow();
    }

    &-header {
        width      : 100%;
        padding    : 5px 0px;
        box-sizing : border-box;
        height     : 40px;
        display    : flex;
        align-items: center;

        border-top: {
            left-radius : $border-radius;
            right-radius: $border-radius;
        }

        border-bottom: 1px solid #f1f1f1;
        color        : #5d5d5d; //$primary;

        .row {
            text-align: center;

            &.text {
                &-left {
                    text-align: left;
                }

                &-right {
                    text-align: right;
                }
            }

            span {
                font-size  : 14px;
                font-weight: 600;
            }

            .form-check-input {
                width: 20px;
                height: 20px;
            }
        }
    }

    &-body {
        width        : calc(100% + 20px);
        padding-right: 15px;
        height       : calc(100% - 80px);

        border-bottom: {
            left-radius : $border-radius;
            right-radius: $border-radius;
        }

        overflow-y: auto;
        box-sizing: border-box;

        .column {
            width      : 100%;
            padding    : 10px 0px;
            box-sizing : border-box;
            height     : 70px;
            display    : flex;
            align-items: center;
            transition : 0.2s;
            box-sizing : border-box;

            &:not(:last-child) {
                border-bottom: 1px solid #f1f1f1;
            }

            &:last-child {
                border-bottom: {
                    left-radius : $border-radius;
                    right-radius: $border-radius;
                }
            }

            &:hover {
                background: rgb(255 255 255 / 50%);

                .row .action-btn {
                    color: rgba($color: $primary, $alpha: 1);
                }
            }

            .row {
                text-align : center;
                line-height: 16px;
                .form-check-input {
                    width: 20px;
                    height: 20px;
                }
                &.text {
                    &.left {
                        text-align: left;
                    }

                    &.right {
                        text-align: right;
                    }

                    &.bold {
                        font-weight: bold;
                    }

                    &.primary {
                        color: map-get($map: $btn, $key: "create");
                    }

                    &.danger {
                        color: map-get($map: $btn, $key: "delete");
                    }

                    &.success {
                        color: map-get($map: $btn, $key: "save");
                    }

                    &.col {
                        display       : flex;
                        flex-direction: column;
                    }
                }

                svg {
                    width: 20px;
                    display: unset !important;
                }

                span {
                    font-size : 14px;
                    word-break: normal;
                    @include subString(3);
                    line-height: 20px;

                    &.link {
                        color     : $primary;
                        cursor    : pointer;
                        word-break: break-all;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    &.badge {
                        background: rgba(map-get($map: $btn, $key: "create"),
                                0.1);
                        color        : map-get($map: $btn, $key: "create");
                        width        : fit-content;
                        padding      : 0px 10px;
                        border-radius: 8px;
                        font-size    : 13px;
                        margin       : auto;

                        &.primary {
                            background: rgba(map-get($map: $btn, $key: "create"),
                                    0.1);
                            color: map-get($map: $btn, $key: "create");
                        }

                        &.danger {
                            background: rgba(map-get($map: $btn, $key: "delete"),
                                    0.1);
                            color: map-get($map: $btn, $key: "delete");
                        }

                        &.success {
                            background: rgba(map-get($map: $btn, $key: "save"),
                                    0.1);
                            color: map-get($map: $btn, $key: "save");
                        }
                    }
                }

                .action-btn {
                    display    : grid;
                    place-items: center;
                    cursor     : pointer;
                    color      : rgba($color: #000000, $alpha: 0.3);
                    transition : 0.2s;
                }

                .image {
                    width     : 50px;
                    height    : 56px;
                    padding   : 3px 0px;
                    box-sizing: border-box;
                    margin    : auto;
                    cursor    : pointer;

                    &.thumbnail {
                        width: 100px;
                    }

                    img {
                        border-radius: $border-radius;
                        overflow     : hidden;
                        height       : 100%;
                        width        : 100%;
                        object-fit   : cover;

                        &.border-circle {
                            border-radius: 50%;
                        }
                    }
                }

                .image_url {
                    width: 100px !important;

                    img {
                        border: 1px solid #eee;
                    }
                }
            }
        }
    }

    &-footer {
        height       : 30px;
        margin-top   : 10px;
        background   : #fff;
        border-radius: $border-radius;
        $pg          : "pagination";

        .#{$pg} {
            width          : 100%;
            height         : 100%;
            display        : flex;
            justify-content: space-between;

            .form-row {
                display      : flex;
                align-items  : center;
                border       : 1px solid #3333;
                padding      : 5px;
                border-radius: $border-radius;
                height       : 100%;

                input {
                    height     : 100%;
                    display    : flex;
                    align-items: center;
                    border     : none;
                    box-sizing : border-box;
                    font-size  : 14px;
                    width      : 25px;
                    padding    : 0 5px;
                    text-align : center;

                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        color: #ccc;
                    }
                }
            }

            button {
                border-radius: $border-radius;
                color        : #fff;
                min-width    : auto !important;
                display      : flex;
                align-items  : center;
                gap          : 5px;
                height       : 100%;
                background   : $primary;
                padding      : 0 8px;

                span {
                    font-size: 13px;
                }
            }

            &-left {
                width      : fit-content;
                display    : flex;
                align-items: center;
                padding    : 0 20px;
                box-sizing : border-box;
                font-size  : 14px;
                gap        : 8px;
            }

            &-right {
                width: fit-content;

                .#{$pg}-wrapper {
                    display      : flex;
                    background   : #fff;
                    height       : 100%;
                    align-items  : center;
                    border-radius: 8px;
                    box-sizing   : border-box;

                    .#{$pg}-item {
                        width          : fit-content;
                        min-width      : 30px;
                        padding        : 0 5px;
                        height         : 100%;
                        display        : flex;
                        align-items    : center;
                        justify-content: center;
                        margin         : 0 3px;
                        border-radius  : 5px;
                        cursor         : pointer;
                        font-size      : 14px;

                        &.active {
                            background: $primary;
                            color     : #fff;
                            cursor    : default;
                        }

                        &.disabled {
                            color : $silver;
                            cursor: no-drop;
                        }

                        &:hover:not(.active) {
                            background: rgba($color: $menu-active, $alpha: 0.1);
                        }
                    }
                }
            }
        }
    }
}
