/* banner section */
.banner {
    position           : relative;
    background-position: center center;
    background-repeat  : no-repeat;
    background-size    : cover;
    min-height         : 400px;
    overflow           : hidden;
    box-shadow         : rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    &-overlay {
        position        : absolute;
        height          : 100%;
        width           : 100%;
        top             : 0;
        left            : 0;
        background-color: $bannerOverlay;
        opacity         : .8;
        transition      : background .3s, border-radius .3s, opacity .3s;
    }

    &-content {
        position: relative;
        height  : 100%;

        &-wrapper {
            width          : 100%;
            position       : absolute;
            top            : 50%;
            left           : 50%;
            transform      : translate(-50%, -50%);
            text-align     : center;
            color          : #fff;
            font-size      : 20px;
            z-index        : 1;
            display        : flex;
            align-items    : center;
            justify-content: center;

            h1 {
                @include fontBold(0);
                margin     : 0;
                font-family: $label-font;
                font-size  : 4rem;
            }

            p {
                @include fontBold(0);
                font-size    : 18px;
                margin-bottom: 0;
            }
        }
    }
}

/* block content */
.block-container {
    position           : relative;
    background-position: center center;
    background-repeat  : no-repeat;
    background-size    : cover;
    min-height         : 500px;
    overflow           : hidden;
    color              : $white;

    &::after {
        width     : 100%;
        content   : '';
        display   : block;
        position  : absolute;
        top       : 0;
        left      : 0;
        background: #00000059;
        height    : 100%
    }

    .block-content {
        .text {
            width     : 40%;
            box-sizing: border-box;

            h2 {
                font-size: 1.5rem;
                margin   : 0 0 1rem 0;
            }

            p {
                margin: 0;
            }

            button {
                @include buttonWithoutAnimation($primary, #ff4b2b, rgb(221 26 68 / 36%), $white);
                padding   : 15px 40px;
                margin-top: 4rem;
            }
        }
    }
}

.home-section {
    min-height: 10px;
}

/* Sale section */
.sale-section {
    &.overlay {
        background-color     : rgba(248, 249, 250, 0.96);
        position             : relative;
        background-blend-mode: overlay;
        height               : auto;
        background-repeat    : no-repeat;
        background-size      : cover;
        background-blend-mode: overlay;
        padding              : 50px 0;

        &::before {
            content         : "";
            height          : 100%;
            width           : 100%;
            position        : absolute;
            background-color: rgba(255, 255, 255, 0.2);
            z-index         : 1;
        }
    }

    .snow-effect {
        &::before {
            content          : "";
            height           : 100%;
            width            : 100%;
            background-image : url(../../../public/images/snow.png), url(../../../public/images/snow2.png);
            background-repeat: repeat;
            position         : absolute;
            left             : 0;
            top              : 0;
            z-index          : 0;
            image-rendering  : -webkit-optimize-contrast;
            image-rendering  : crisp-edges;
            will-change      : background-position;
            animation        : an-snow 35s linear infinite;
        }

        @keyframes an-snow {
            0% {
                background-position: 0 0;
            }

            25% {
                background-position: 25% 25%;
            }

            70% {
                background-position: 70% 70%;
            }

            100% {
                background-position: 100% 100%;
            }
        }
    }

    &-wrapper {
        .row {
            display        : flex;
            justify-content: space-between;
            padding        : 90px 0;
        }

        .column {
            .sale-section-wrapper-content {
                width: 100% !important;
            }
        }

        &-label {
            display        : flex;
            align-items    : center;
            justify-content: space-between;

            h2 {
                position   : relative;
                font-size  : 1.5rem;
                margin     : 0 0 1rem 0;
                font-weight: 800;

                &::before {
                    position        : absolute;
                    content         : '';
                    width           : 50px;
                    height          : 4px;
                    left            : 0;
                    bottom          : -8px;
                    background-color: #ff4b2b;
                    border-radius   : 2px;
                }
            }

            .view-all {
                width        : auto;
                display      : flex;
                align-items  : center;
                color        : rgb(80, 78, 78);
                border       : 1px dashed #d2d2d2;
                transition   : all 0.5s ease;
                padding      : 10px 20px;
                border-radius: 50px;

                svg {
                    margin-left: 10px;
                    width      : 15px;
                    height     : 15px;
                }

                &:hover {
                    background-color: rgba(100, 50, 184, 0.1);
                    background      : #eae7e7b6;
                    border-color    : $primary;
                }
            }
        }

        &-title {
            width   : 50%;
            position: relative;
            z-index : 1;

            button {
                margin-top      : 4rem;
                background-color: $primary;
            }

            .grid-icon {
                .box-icon {
                    width           : 140px;
                    height          : 140px;
                    background-color: white;
                    display         : flex;
                    justify-content : center;
                    align-items     : center;
                    box-shadow      : 3.346px 3.716px 22.5px rgb(0 0 0 / 7%);

                    a {
                        padding   : 30px;
                        text-align: center;
                        transition: .3s;
                        font-size : 18px;

                        h6 {
                            transition: .3s;

                            &:hover {
                                color: deeppink;
                            }
                        }
                    }
                }
            }
        }

        &-image {
            flex    : 0 0 auto;
            position: absolute;
            bottom  : 0;
            right   : 0;
            z-index : 0;

            img {
                height: 650px;
            }
        }
    }

    .product-box {
        border-radius: 5px;
        box-shadow   : 3.346px 3.716px 22.5px rgb(0 0 0 / 7%);
        border-radius: 20px;
        overflow     : hidden;

        &-image {
            @include fadeAnimate;
            height: 240px;
            cursor: pointer;

            img {
                width     : 100%;
                height    : 100%;
                object-fit: cover;
            }

            &-icon {
                position        : absolute;
                right           : 10px;
                bottom          : 10px;
                background-color: #fff;
                color           : #000;
                border-radius   : 5px;
                transition      : .2s;
                width           : 35px;
                height          : 35px;
                display         : flex;
                justify-content : center;
                align-items     : center;

                .true {
                    display: none;
                }

                svg {
                    width : 20px;
                    height: 20px;
                }

                &:hover,
                &.active {
                    background-color: $primary;
                    color           : white;

                    .true {
                        display: block;
                    }

                    .false {
                        display: none;
                    }
                }
            }
        }

        &-content {

            h1 {
                color: #000;

                &:hover {
                    color: $primary;
                }
            }

            h2 {
                color: $primary;
            }

            p {
                display           : -webkit-box;
                overflow          : hidden;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }

            a {
                color     : rgb(80, 78, 78);
                border    : 1px dashed #d2d2d2;
                transition: all 0.5s ease;
                width     : auto;

                &:hover {
                    background-color: rgba(100, 50, 184, 0.1);
                    background      : #eae7e7b6;
                    border-color    : $primary;
                }
            }
        }
    }
}

/* detail section */
.single-property {
    padding-bottom: 50px;

    &-content {
        position: relative;

        .image {
            height: 400px;

            &::before {
                content              : '';
                position             : absolute;
                top                  : 0;
                left                 : 0;
                width                : 100%;
                height               : 100%;
                background-color     : rgba(0, 0, 0, 0.5);
                z-index              : 1;
                background-blend-mode: multiply;
            }

            img {
                width     : 100%;
                height    : 100%;
                object-fit: cover;
            }
        }

        .title {
            position: absolute;
            bottom  : -70px;
            left    : 0;
            width   : 100%;
            z-index : 2;

            &-content {
                box-shadow: 3.346px 3.716px 22.5px rgb(0 0 0 / 7%);

                .left-single {
                    width: 70%;

                    h2 {
                        font-size  : 2rem;
                        font-weight: 800;
                        color      : #1c2d3a;
                    }

                    .button {
                        border       : none;
                        padding      : 7px 20px;
                        border-radius: 50px;
                        transition   : .3s;
                        color        : rgb(80, 78, 78);
                        border       : 1px dashed #d2d2d2;
                        transition   : all 0.5s ease;
                        width        : auto;

                        &:hover {
                            &:not(.btn-share) {
                                border-color: $primary;
                            }
                        }
                    }

                    .favorite {
                        .true {
                            display: none;
                        }

                        i {
                            font-size   : 20px;
                            margin-right: 10px;
                        }

                        &.active {
                            background-color: $primary;
                            color           : white;

                            .true {
                                display: block;
                            }

                            .false {
                                display: none;
                            }
                        }
                    }

                    .btn-share {
                        @include buttonWithoutAnimation(#00a6f2, #2b97d18f, rgb(138 129 131 / 36%), $white);
                    }
                }

                .right-single {
                    h2 {
                        font-size  : 2rem;
                        font-weight: 800;
                        color      : #1c2d3a;
                    }

                    .price {
                        color: $price;
                    }
                }
            }
        }
    }
}

/* detail section */
.detail-property {
    .swiper {
        height: unset;

        &-slide {
            box-shadow   : unset !important;
            aspect-ratio : 241 / 200;
            border-radius: $border-radius;
            cursor       : zoom-in;

            img {
                width     : 100%;
                height    : 100%;
                object-fit: cover;
            }
        }
    }

    .gallery-top {
        border-radius: 10px;
    }

    .gallery-thumbs {
        width: auto;

        .swiper-wrapper {
            margin-top: 10px;

            .swiper-slide {
                width        : 100px !important;
                height       : 70px !important;
                cursor       : pointer;
                opacity      : 0.5;
                background   : white;
                border-radius: $border-radius;
                box-shadow   : rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

                img {
                    width        : 100%;
                    height       : 100%;
                    object-fit   : cover;
                    border-radius: $border-radius;
                }

                &.swiper-slide-thumb-active {
                    opacity: 1;
                }
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            width    : 30px !important;
            height   : 30px !important;
            transform: translateY(40%);
        }
    }

    .image {
        cursor: zoom-in;

        img {
            width        : 100%;
            height       : 100%;
            object-fit   : cover;
            border-radius: 4px;
            aspect-ratio : 241 / 200;
        }
    }

    .column {
        box-shadow   : 3.346px 3.716px 22.5px rgb(0 0 0 / 7%);
        border-radius: 8px;

        h2 {
            font-size    : 1.5rem;
            color        : #1c2d3a;
            position     : relative;
            margin-bottom: 40px;

            &::before {
                position        : absolute;
                content         : '';
                width           : 30px;
                height          : 4px;
                left            : 0;
                bottom          : -8px;
                background-color: #ff4b2b;
                border-radius   : 2px;
            }
        }
    }

    .property-list {
        h3 {
            position   : relative;
            font-size  : 1.5rem;
            font-weight: 600;
            color      : #1c2d3a;

            &::before {
                position        : absolute;
                content         : '';
                width           : 30px;
                height          : 4px;
                left            : 0;
                bottom          : -8px;
                background-color: #ff4b2b;
                border-radius   : 2px;
            }
        }

        .list {
            display        : flex;
            align-items    : center;
            justify-content: space-between;

            .image {
                width        : 30%;
                box-sizing   : border-box;
                border-radius: 4px;
                overflow     : hidden;
                cursor       : zoom-in;

                img {
                    width     : 100%;
                    height    : 100%;
                    object-fit: cover;
                }
            }

            .text {
                width     : 65%;
                box-sizing: border-box;

                h4 {
                    font-size  : 1rem;
                    font-weight: 600;
                }

                .price {
                    color      : $price;
                    padding-top: 1rem;
                }
            }
        }
    }
}


/* user style */
.user-content {
    padding: 50px 0;

    .user-wrapper {
        &.section-aside {
            display        : flex;
            flex-wrap      : wrap;
            justify-content: space-between;

            aside {
                width     : 30%;
                box-sizing: border-box;
                position  : unset;
                top       : 0;
                padding   : 0;
            }

            section {
                width     : 68%;
                box-sizing: border-box;
            }
        }

        section {
            .form-container {
                background-color: white;
                border-radius   : 10px;
                box-shadow      : rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

                h2 {
                    @include fontBold(0);
                    text-align: center;
                }

                .form-content {
                    width : 100%;
                    margin: auto;

                    form {
                        width     : 100%;
                        box-sizing: border-box;
                        padding   : 30px;

                        .row {
                            display              : grid;
                            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                            gap                  : 20px;

                            .form-row {
                                position     : relative;
                                margin       : 10px 0;
                                border-radius: 5px;
                                overflow     : hidden;

                                &-item {
                                    cursor  : pointer;
                                    position: absolute;
                                    right   : 25px;
                                    top     : 48px;

                                    span {
                                        display    : grid;
                                        place-items: center;

                                        svg {
                                            width : 15px;
                                            height: 15px;
                                        }
                                    }
                                }

                                label {
                                    font-size  : 16px;
                                    color      : #5a5e66;
                                    padding    : 0 12px 0 0;
                                    box-sizing : border-box;
                                    line-height: 2;
                                    display    : flex;
                                    align-items: center;

                                    svg {
                                        width       : 15px;
                                        height      : 15px;
                                        margin-right: 5px;
                                    }

                                    .require {
                                        color: red;
                                    }
                                }

                                input {
                                    transition      : all .5s;
                                    font-size       : 14px;
                                    padding-left    : 10px;
                                    background-color: #f5f5f5;
                                    width           : 100% !important;
                                    height          : 45px;
                                    box-sizing      : border-box;
                                    border-radius   : 5px;
                                    box-shadow      : none;
                                    outline         : none;
                                }

                                .form-select-photo {
                                    background-color: #fff;
                                    border          : 1px dashed #d9d9d9;
                                    border-radius   : 6px;
                                    box-sizing      : border-box;
                                    width           : 100%;
                                    height          : 150px;
                                    text-align      : center;
                                    position        : relative;
                                    cursor          : pointer;
                                    transition      : .2s;
                                    display         : inline-block;
                                    overflow        : hidden;


                                    &.profile {
                                        width          : 200px;
                                        height         : 200px;
                                        border-radius  : 10%;
                                        display        : flex;
                                        justify-content: center;
                                        margin-bottom  : 30px;
                                    }

                                    input {
                                        position: absolute;
                                        top     : 0;
                                        left    : 0;
                                        right   : 0;
                                        bottom  : 0;
                                        width   : 100%;
                                        height  : 100%;
                                        cursor  : pointer;
                                        opacity : 0;
                                    }

                                    &:hover {
                                        border-color: $primary;
                                    }

                                    .select-photo {
                                        width          : 100%;
                                        height         : 100%;
                                        display        : flex;
                                        align-items    : center;
                                        flex-direction : column;
                                        justify-content: center;

                                        .btn-remove {
                                            position: absolute;
                                            top     : 0;
                                            right   : 0;
                                            color   : red;
                                            z-index : 999;
                                            display : none;
                                        }

                                        .icon {
                                            span {
                                                font-size: 50px;
                                            }
                                        }

                                        &.active {
                                            opacity   : 1;
                                            background: rgb(179 173 161 / 48%);

                                            .btn-remove {
                                                display: unset;
                                            }

                                            .title {
                                                color  : #fff;
                                                opacity: 0;
                                            }
                                        }
                                    }

                                    .image-view {
                                        position     : absolute;
                                        top          : 0;
                                        width        : 100%;
                                        height       : 100%;
                                        overflow     : hidden;
                                        border-radius: 10px;
                                        opacity      : 0;

                                        &.active {
                                            opacity: 1;
                                        }

                                        img {
                                            width     : 100%;
                                            height    : 100%;
                                            object-fit: contain;
                                        }
                                    }
                                }

                                .error-input {
                                    border: 1px solid #fa5555;
                                }

                                .error-require {
                                    color    : #fa5555;
                                    font-size: 0.8rem;

                                    svg {
                                        height: 15px;
                                    }
                                }
                            }
                        }

                        .row-submit {
                            margin: 20px 0;

                            &-group {
                                display        : flex;
                                justify-content: flex-end;

                                button {
                                    width           : fit-content;
                                    box-sizing      : border-box;
                                    padding         : 0.8rem 1rem;
                                    border-radius   : 5px;
                                    background-color: #0169f0;
                                    color           : white;
                                    display         : flex;
                                    align-items     : center;
                                    justify-content : center;
                                    font-size       : 1rem;

                                    a {
                                        display    : flex;
                                        align-items: center;
                                        height     : unset;
                                    }

                                    svg {
                                        height      : 20px;
                                        width       : 20px;
                                        margin-right: 5px;
                                    }
                                }

                                button[type="reset"] {
                                    margin-left     : 10px;
                                    background-color: #ff3838;
                                }
                            }
                        }
                    }
                }
            }

            .user-table-content {
                height                       : 100%;
                background-color             : white;
                box-shadow                   : rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
                // border-top-right-radius   : 10px;
                // border-bottom-right-radius: 10px;

                tbody {
                    tr {
                        &:hover {
                            background-color: #e0e0e063;
                        }

                        &:not(:last-child) {
                            border-bottom: 1px solid #e0e0e063;
                        }
                    }
                }

                th {
                    position        : sticky;
                    top             : 0;
                    padding         : 20px;
                    background-color: #e9e7e7;
                }

                td.photo {
                    img {
                        width        : 80px;
                        height       : 50px;
                        border-radius: 10px;
                        object-fit   : cover;
                    }
                }

                td a.btnRemove {
                    padding         : 4px 8px;
                    background-color: $primary;
                    border-radius   : 8px;
                    color           : #ffff;
                }

                .action-btn {
                    cursor         : pointer;
                    transition     : 0.2s;
                    text-align     : center;
                    display        : flex;
                    justify-content: center;
                }

                ul {
                    background-color: #fff;
                    border-radius   : 10px;
                    padding         : 10px 0;
                    box-shadow      : rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
                    display         : grid;
                    gap             : 10px;
                    place-content   : flex-start;
                    z-index         : 999;

                    li {
                        width     : 100%;
                        padding   : 10px 30px;
                        text-align: left;
                        cursor    : pointer;

                        &:hover {
                            background-color: #f5f5f5;
                        }

                        a {
                            width: 100%;
                        }

                        .dropdown-item {
                            display    : flex;
                            align-items: center;

                            svg {
                                margin-right: 10px;
                                width       : 15px;
                                height      : 15px;
                            }
                        }
                    }
                }

                .pagination {
                    margin         : 30px 0;
                    background     : #fff;
                    border-radius  : $border-radius;
                    width          : 100%;
                    height         : 100%;
                    display        : flex;
                    justify-content: space-between;

                    &.pagination-content {
                        justify-content: center;
                    }

                    &-left {
                        width      : fit-content;
                        display    : flex;
                        align-items: center;
                        padding    : 0 20px;
                        box-sizing : border-box;
                        font-size  : 14px;
                    }

                    &-right {
                        width : fit-content;
                        margin: unset;

                        .pagination-wrapper {
                            display      : flex;
                            background   : #fff;
                            height       : 100%;
                            align-items  : center;
                            padding      : 8px 15px;
                            border-radius: 8px;
                            box-sizing   : border-box;

                            .pagination-item {
                                display        : flex;
                                align-items    : center;
                                justify-content: center;
                                border-radius  : 3px;
                                padding        : 0 10px;
                                cursor         : pointer;

                                svg {
                                    margin: 0;
                                }

                                &.active {
                                    background: $label;
                                    color     : #fff;
                                    cursor    : default;
                                }

                                &.disabled {
                                    color : #ccc;
                                    cursor: no-drop;
                                }
                            }
                        }
                    }
                }
            }

            .user-setting-favorite-cart {
                background-color: white;
                border-radius   : 10px;
                box-shadow      : rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
                height          : 200px;
                border-radius   : 5px;
                box-shadow      : 3.346px 3.716px 22.5px rgb(0 0 0 / 7%);
                border-radius   : 20px;
                overflow        : hidden;
                display         : flex;
                justify-content : space-between;

                .image {
                    @include fadeAnimate;
                    width : 30%;
                    height: 200px;
                    cursor: pointer;

                    img {
                        width     : 100%;
                        height    : 100%;
                        object-fit: cover;
                    }

                }

                &-content {
                    width: 68%;

                    h1 {
                        color: #000;

                        &:hover {
                            color: $primary;
                        }
                    }

                    h2 {
                        color: $primary;
                    }

                    p {
                        @include subString(2);
                    }

                    a {
                        color     : rgb(80, 78, 78);
                        border    : 1px dashed #d2d2d2;
                        transition: all 0.5s ease;
                        width     : auto;

                        &:hover {
                            background-color: rgba(100, 50, 184, 0.1);
                            background      : #eae7e7b6;
                            border-color    : $primary;
                        }
                    }

                    .cart-icon {
                        background-color: $primary;
                        border-radius   : 5px;
                        transition      : .2s;
                        width           : 35px;
                        height          : 35px;
                        display         : flex;
                        align-items     : center;
                        justify-content : center;
                        margin-top      : 10px;

                        i {
                            color: $white;
                        }
                    }
                }
            }
        }

        aside {
            position        : sticky;
            top             : 170px;
            z-index         : 99;
            align-self      : flex-start;
            height          : 100%;
            overflow        : hidden;
            background-color: white;
            border-radius   : 10px;
            margin          : 0;
            box-shadow      : rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

            .user-aside-header {
                padding      : 20px;
                display      : flex;
                align-items  : center;
                margin-bottom: 20px;

                &-avatar {
                    width        : 70px;
                    height       : 70px;
                    border-radius: 50%;
                    overflow     : hidden;
                    margin-right : 20px;

                    img {
                        width     : 100%;
                        height    : 100%;
                        object-fit: cover;
                    }
                }

                &-info {
                    width     : 70%;
                    box-sizing: border-box;

                    h3 {
                        @include fontBold(0.3);
                        margin        : 0;
                        font-size     : 1.2rem;
                        padding-bottom: 1rem;
                    }

                    p {
                        @include fontBold(0);
                        margin   : 0;
                        font-size: 0.8rem;
                    }
                }
            }

            .user-aside-body {
                margin-left   : 20px;
                padding-bottom: 20px;

                &-item {
                    padding                  : 1rem;
                    display                  : flex;
                    align-items              : center;
                    border-right             : 5px solid white;
                    border-top-left-radius   : 10px;
                    border-bottom-left-radius: 10px;
                    cursor                   : pointer;

                    svg {
                        margin-right: 10px;
                        height      : 20px;
                        width       : 20px;
                    }

                    i {
                        font-size   : 1rem;
                        margin-right: 10px;
                    }

                    p {
                        @include fontBold(0);
                        font-size: 1rem;
                        margin   : 0;
                    }

                    &.active {
                        border-right-color: $primary;
                        background-color  : #28a5b21a;
                    }
                }
            }
        }
    }
}