// banner section
.banner {
    position           : relative;
    background-position: center center;
    background-repeat  : no-repeat;
    background-size    : cover;
    min-height         : 400px;
    overflow           : hidden;
    box-shadow         : rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    &-overlay {
        position        : absolute;
        height          : 100%;
        width           : 100%;
        top             : 0;
        left            : 0;
        background-color: $bannerOverlay;
        opacity         : .8;
        transition      : background .3s, border-radius .3s, opacity .3s;
    }

    &-content {
        position: relative;
        height  : 100%;

        &-wrapper {
            width          : 100%;
            position       : absolute;
            top            : 50%;
            left           : 50%;
            transform      : translate(-50%, -50%);
            text-align     : center;
            color          : #fff;
            font-size      : 20px;
            z-index        : 1;
            display        : flex;
            align-items    : center;
            justify-content: center;

            h1 {
                @include fontBold(0);
                margin     : 0;
                font-family: $label-font;
                font-size  : 4rem;
            }

            p {
                @include fontBold(0);
                font-size    : 18px;
                margin-bottom: 0;
            }
        }
    }
}

// block content
.block-container {
    position           : relative;
    background-position: center center;
    background-repeat  : no-repeat;
    background-size    : cover;
    min-height         : 500px;
    overflow           : hidden;
    color              : $white;

    &::after {
        width     : 100%;
        content   : '';
        display   : block;
        position  : absolute;
        top       : 0;
        left      : 0;
        background: #00000059;
        height    : 100%
    }

    .block-content {
        .text {
            width     : 40%;
            box-sizing: border-box;

            h2 {
                font-size: 1.5rem;
                margin   : 0 0 1rem 0;
            }

            p {
                margin: 0;
            }

            button {
                @include buttonWithoutAnimation($primary, #ff4b2b, rgb(221 26 68 / 36%), $white);
                padding   : 15px 40px;
                margin-top: 4rem;
            }
        }
    }
}

.home-section {
    min-height: 10px;
}

// Sale section
.sale-section {
    &.overlay {
        background-color        : rgba(248, 249, 250, 0.96);
        position                : relative;
        background-blend-mode   : overlay;
        height                  : auto;
        // background-image     : url(../../../public/images/sky-bg.jpg);
        background-repeat       : no-repeat;
        background-size         : cover;
        background-blend-mode   : overlay;

        &::before {
            content         : "";
            height          : 100%;
            width           : 100%;
            position        : absolute;
            background-color: rgba(255, 255, 255, 0.2);
            z-index         : 1;
        }
    }

    .snow-effect {
        &::before {
            content          : "";
            height           : 100%;
            width            : 100%;
            background-image : url(../../../public/images/snow.png), url(../../../public/images/snow2.png);
            background-repeat: repeat;
            position         : absolute;
            left             : 0;
            top              : 0;
            z-index          : 0;
            image-rendering  : -webkit-optimize-contrast;
            image-rendering  : crisp-edges;
            will-change      : background-position;
            animation        : an-snow 35s linear infinite;
        }

        @keyframes an-snow {
            0% {
                background-position: 0 0;
            }

            50% {
                background-position: 50% 50%;
            }

            100% {
                background-position: 100% 100%;
            }
        }
    }

    &-wrapper {
        .row {
            display        : flex;
            justify-content: space-between;
            padding        : 90px 0;
        }

        .column {
            .sale-section-wrapper-content {
                width: 100% !important;
            }
        }

        &-label {
            display        : flex;
            align-items    : center;
            justify-content: space-between;

            h2 {
                position   : relative;
                font-size  : 1.5rem;
                margin     : 0 0 1rem 0;
                font-weight: 800;

                &::before {
                    position        : absolute;
                    content         : '';
                    width           : 50px;
                    height          : 4px;
                    left            : 0;
                    bottom          : -8px;
                    background-color: #ff4b2b;
                    border-radius   : 2px;
                }
            }

            .view-all {
                width        : auto;
                display      : flex;
                align-items  : center;
                color        : rgb(80, 78, 78);
                border       : 1px dashed #d2d2d2;
                transition   : all 0.5s ease;
                padding      : 10px 20px;
                border-radius: 50px;

                svg {
                    margin-left: 10px;
                    width      : 15px;
                    height     : 15px;
                }

                &:hover {
                    background-color: rgba(100, 50, 184, 0.1);
                    background      : #eae7e7b6;
                    border-color    : $primary;
                }
            }
        }

        &-title {
            width   : 50%;
            position: relative;
            z-index : 1;

            button {
                margin-top      : 4rem;
                background-color: $primary-color;
            }

            .grid-icon {
                .box-icon {
                    width           : 140px;
                    height          : 140px;
                    background-color: white;
                    display         : flex;
                    justify-content : center;
                    align-items     : center;
                    box-shadow      : 3.346px 3.716px 22.5px rgb(0 0 0 / 7%);

                    a {
                        padding   : 30px;
                        text-align: center;
                        transition: .3s;
                        font-size : 18px;

                        h6 {
                            transition: .3s;

                            &:hover {
                                color: deeppink;
                            }
                        }
                    }
                }
            }
        }

        &-image {
            width: 50%;
            flex : 0 0 auto;

            img {
                position: absolute;
                bottom  : 0;
                right   : 0;
                height  : 650px;
                z-index : 0;
            }
        }
    }

    .product-box {
        height       : 500px;
        border-radius: 5px;
        box-shadow   : 3.346px 3.716px 22.5px rgb(0 0 0 / 7%);
        border-radius: 20px;
        overflow     : hidden;

        &-image {
            @include fadeAnimate;
            height: 240px;
            cursor: pointer;

            img {
                width     : 100%;
                height    : 100%;
                object-fit: cover;
            }

            &-icon {
                position        : absolute;
                right           : 10px;
                bottom          : 10px;
                padding         : 8px 8px;
                background-color: #fff;
                color           : #000;
                border-radius   : 5px;
                transition      : .2s;

                &:hover {
                    background-color: $primary-color;
                    color           : white;
                }
            }
        }

        &-content {

            height: 260px;

            h1 {
                color: #000;

                &:hover {
                    color: $primary-color;
                }
            }

            h2 {
                color: $primary-color;
            }

            p {
                display           : -webkit-box;
                overflow          : hidden;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }

            a {
                color     : rgb(80, 78, 78);
                border    : 1px dashed #d2d2d2;
                transition: all 0.5s ease;
                width     : auto;

                &:hover {
                    background-color: rgba(100, 50, 184, 0.1);
                    background      : #eae7e7b6;
                    border-color    : $primary;
                }
            }
        }
    }
}

// detail section
.single-property {
    padding-bottom: 50px;

    &-content {
        position: relative;

        .image {
            height: 400px;

            &::before {
                content              : '';
                position             : absolute;
                top                  : 0;
                left                 : 0;
                width                : 100%;
                height               : 100%;
                background-color     : rgba(0, 0, 0, 0.5);
                z-index              : 1;
                background-blend-mode: multiply;
            }

            img {
                width     : 100%;
                height    : 100%;
                object-fit: cover;
            }
        }

        .title {
            position: absolute;
            bottom  : -70px;
            left    : 0;
            width   : 100%;
            z-index : 2;

            &-content {
                box-shadow: 3.346px 3.716px 22.5px rgb(0 0 0 / 7%);

                .left-single {
                    h2 {
                        font-size  : 2rem;
                        font-weight: 800;
                        color      : #1c2d3a;
                    }

                    button {
                        border       : none;
                        padding      : 7px 20px;
                        border-radius: 50px;
                        transition   : .3s;
                        color        : rgb(80, 78, 78);
                        border       : 1px dashed #d2d2d2;
                        transition   : all 0.5s ease;
                        width        : auto;

                        &:hover {
                            &:not(.btn-share) {
                                border-color: $primary;
                            }
                        }
                    }

                    .btn-share {
                        @include buttonWithoutAnimation(#00a6f2, #2b97d18f, rgb(138 129 131 / 36%), $white);
                    }
                }

                .right-single {
                    h2 {
                        font-size  : 2rem;
                        font-weight: 800;
                        color      : #1c2d3a;
                    }

                    .price {
                        color: $price;
                    }
                }
            }
        }
    }
}

// detail section
.detail-property {
    .swiper {
        height: unset;

        &-slide {
            box-shadow   : unset !important;
            aspect-ratio : 241 / 200;
            border-radius: $border-radius;
            cursor       : zoom-in;

            img {
                width     : 100%;
                height    : 100%;
                object-fit: cover;
            }
        }
    }

    .gallery-top {
        border-radius: 10px;
    }

    .gallery-thumbs {
        width: auto;

        .swiper-wrapper {
            margin-top: 10px;

            .swiper-slide {
                width        : 100px !important;
                height       : 70px !important;
                cursor       : pointer;
                opacity      : 0.5;
                background   : white;
                border-radius: $border-radius;
                box-shadow   : rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

                img {
                    width        : 100%;
                    height       : 100%;
                    object-fit   : cover;
                    border-radius: $border-radius;
                }

                &.swiper-slide-thumb-active {
                    opacity: 1;
                }
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            width    : 30px !important;
            height   : 30px !important;
            transform: translateY(40%);
        }
    }

    .image {
        cursor: zoom-in;

        img {
            width        : 100%;
            height       : 100%;
            object-fit   : cover;
            border-radius: 4px;
            aspect-ratio : 241 / 200;
        }
    }

    .column {
        box-shadow   : 3.346px 3.716px 22.5px rgb(0 0 0 / 7%);
        border-radius: 8px;

        h2 {
            font-size    : 1.5rem;
            color        : #1c2d3a;
            position     : relative;
            margin-bottom: 40px;

            &::before {
                position        : absolute;
                content         : '';
                width           : 30px;
                height          : 4px;
                left            : 0;
                bottom          : -8px;
                background-color: #ff4b2b;
                border-radius   : 2px;
            }
        }
    }

    .property-list {
        h3 {
            position   : relative;
            font-size  : 1.5rem;
            font-weight: 600;
            color      : #1c2d3a;

            &::before {
                position        : absolute;
                content         : '';
                width           : 30px;
                height          : 4px;
                left            : 0;
                bottom          : -8px;
                background-color: #ff4b2b;
                border-radius   : 2px;
            }
        }

        .list {
            display        : flex;
            align-items    : center;
            justify-content: space-between;

            .image {
                width        : 30%;
                box-sizing   : border-box;
                border-radius: 4px;
                overflow     : hidden;
                cursor       : zoom-in;

                img {
                    width     : 100%;
                    height    : 100%;
                    object-fit: cover;
                }
            }

            .text {
                width     : 65%;
                box-sizing: border-box;

                h4 {
                    font-size  : 1rem;
                    font-weight: 600;
                }

                .price {
                    color      : $price;
                    padding-top: 1rem;
                }
            }
        }
    }
}

// user-setting-sidebar
.user-setting{
    &-sidebar{
        .single-line{
            &::before{
                position        : absolute;
                content         : '';
                width           : 5px;
                height          : 3rem;
                left            : 19.7rem;
                border-radius   : 2px;
                background-color: #ff4b2b;
            }
        }
        
    }
    &-form{
        .user-setting-form-profile{
            height: 7rem;
            width: 7rem;
            border-radius: 50%;
            background: $primary-color;
        }

        &-input{
            .form-control{
                padding: 8px 10px;
                border: 1px solid $primary-color;
                border-radius: 4px;
                color: #000;
                font-size: 14px;
                width: 100%;
            }
        }
        .btnSave{
            padding: 8px 20px;
            background-color: $primary-color;
            border-radius: 8px;
            color: #ffff;
        }
        .btnCancel{
            padding: 8px 20px;
            background-color: white;
            border: 1px solid gray;
            border-radius: 8px;
            color: #000000;
            transition: .3s;
            &:hover{
                background-color: #d2d2d2;
            }
        }
        &-table{
            overflow-x: hidden ;
            overflow-y: scroll;
            max-height: 70vh;
            th{
                position: sticky;
                top: 0;
                padding: 10px;
                background-color: #e9e7e7;
            }
            td.photo{
                width: 100px;
                height: 100px;
            }
            td a.btnRemove{
                padding: 4px 8px;
                background-color: $primary-color;
                border-radius: 8px;
                color: #ffff;
            }
        }
    }
    &-favorite{
        h4{
            &::before {
                position        : absolute;
                content         : '';
                width           : 50px;
                height          : 4px;
                top: 13.2rem;
                background-color: #ff4b2b;
                border-radius   : 2px;
            }
        }
        &-cart{
            height       : 200px;
            border-radius: 5px;
            box-shadow   : 3.346px 3.716px 22.5px rgb(0 0 0 / 7%);
            border-radius: 20px;
            overflow     : hidden;

            &-image {
                @include fadeAnimate;
                height: 200px;
                cursor: pointer;
    
                img {
                    width     : 100%;
                    height    : 100%;
                    object-fit: cover;
                }
    
            }

            &-content {
                h1 {
                    color: #000;
    
                    &:hover {
                        color: $primary-color;
                    }
                }
    
                h2 {
                    color: $primary-color;
                }
    
                p {
                    display           : -webkit-box;
                    overflow          : hidden;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
    
                a {
                    color     : rgb(80, 78, 78);
                    border    : 1px dashed #d2d2d2;
                    transition: all 0.5s ease;
                    width     : auto;
    
                    &:hover {
                        background-color: rgba(100, 50, 184, 0.1);
                        background      : #eae7e7b6;
                        border-color    : $primary;
                    }
                }
                .cart-icon{
                    padding         : 8px 8px;
                    background-color: $primary-color;
                    border-radius   : 5px;
                        transition      : .2s;
                    a{
                        border: none;
                        color           : #fff;
                    }
                }
            }
        }
    }
}

