.navbar-main {
    background-color: $secondary;

    &-content {
        display        : flex;
        align-items    : center;
        justify-content: space-between;
        border-bottom  : 1px solid #cec1c1;
    }

    &-item {
        display       : grid;
        grid-auto-flow: column;
        gap           : 0.3rem;
        place-items   : center;
        height        : 2.7rem;

        &:not(:last-child) {
            &::after {
                content: '';
                height : 100%;
                margin : 0 6rem;
                border : 1px solid #cec1c1;
            }
        }

        .link {
            cursor: pointer;
        }

        svg {
            height: 1rem;
            color : rgb(255 133 133);
        }

        .text-normal {
            text-transform: lowercase;
        }

        span {
            font-size: 0.8rem;
            color    : #584b4b;
        }
    }
}

.navbar {
    background-color: $secondary;
    width           : 100%;
    height          : auto;
    z-index         : 999;
    box-shadow      : unset;
    transition      : all .3s ease-in-out;

    &.is_sticky {
        position        : fixed;
        top             : 0;
        left            : 0;
        animation       : fadeInDown 0.8s ease-in-out;
        border          : 0.8px solid #fff;
        background-color: hsla(0, 0%, 100%, .8);
        box-shadow      : 14px 14px 60px 0 rgb(80 20 173 / 6%);
        backdrop-filter : blur(50px);

        .navbar-main {
            background-color: unset;
        }

        .navbar-menu {
            max-width: 100%;

            &-content {
                color: unset;
            }
        }
    }

    @keyframes fadeInDown {
        0% {
            opacity  : 0;
            transform: translate3d(0, -100%, 0);
        }

        100% {
            opacity  : 1;
            transform: none;
        }
    }

    &-wrapper {
        width      : 100%;
        position   : relative;
        display    : flex;
        align-items: center;
    }

    &-logo {
        cursor: pointer;

        img {
            width : 80px;
            height: auto;
        }
    }

    &-menu {
        width          : calc(100% - 20px);
        display        : flex;
        align-items    : center;
        justify-content: space-between;

        &-content {
            display       : grid;
            gap           : 2rem;
            grid-auto-flow: column;

            &:first-child {
                padding-left: 2rem;
            }

            &-item {
                cursor        : pointer;
                color         : #211e1e;
                font-weight   : 700;
                text-transform: uppercase;
                font-size     : 0.9rem;

                &.active {
                    font-weight: bold;
                    color      : $primary;
                }

                svg {
                    height: 1.2rem;
                }
            }

            .menu-sidebar {
                display: none;
            }

            .search {
                display    : flex;
                align-items: center;

                i {
                    font-size: 1.2rem;
                }
            }

            .button {
                background-color: #211e1e;
                color           : rgb(223, 216, 216);
                padding         : 0.7rem 1rem;
                border-radius   : 50px;
                font-weight     : 700;
                font-size       : 0.8rem;
                cursor          : pointer;

            }
        }
    }
}

.menu-responsive-content {
    background-color: white;
    width           : calc(100% - 20%);
    position        : fixed;
    right           : -100%;
    top             : 0;
    z-index         : 99999;
    transition      : all 0.2s ease-out;
    overflow-y      : auto;
    height          : 100%;

    &.active {
        right: 0;
    }

    .menu-responsive-wrapper {
        &-head {
            background-color: $primary;
            display         : flex;
            justify-content : space-between;
            padding         : 1rem;

            .logo {
                margin: auto;
                width : fit-content;

                img {
                    width : auto;
                    height: 100px;
                }
            }

            .close {
                position: absolute;
                left    : 15px;

                svg {
                    cursor: pointer;
                    color : $white;
                    height: 2rem;
                }
            }
        }

        &-navbar {
            display: grid;
            gap    : 30px;
            padding: 1rem;

            &-item {
                display        : flex;
                justify-content: space-between;

                .label {
                    display    : flex;
                    align-items: center;

                    svg {
                        width       : fit-content;
                        height      : 22px;
                        margin-right: 10px;
                    }

                    span {
                        @include fontBold(0);
                        font-size: 1rem;
                    }
                }

                svg {
                    width : fit-content;
                    height: 20px;
                }

                &.active {
                    .label {
                        color: $primary;
                    }
                }
            }

            .sub-menu-content {
                margin-top : -10px;
                margin-left: 30px;

                &-row {
                    display: grid;
                    gap    : 10px;

                    &-item {
                        display    : flex;
                        align-items: center;

                        svg {
                            width       : fit-content;
                            height      : 15px;
                            margin-right: 10px;
                        }

                        span {
                            @include fontBold(0);
                            font-size: 0.95rem;
                        }

                        &.active {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}

.menu-responsive-cover {
    display        : none;
    position       : fixed;
    top            : 0;
    left           : 0;
    width          : 100%;
    height         : 100%;
    z-index        : 9999;
    background     : rgb(0 0 0 / 44%) !important;
    box-shadow     : 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);

    &.active {
        display: block;
    }
}