.navbar {
    box-shadow: 3.346px 3.716px 22.5px rgb(0 0 0 / 7%);
    transition: all 0.3s ease-in-out;
    position  : fixed;
    top       : 0;
    left      : 0;
    right     : 0;
    z-index   : 998;
    width     : 100%;

    &-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 6rem;
    }

    &.is_sticky {
        animation       : fadeInDown 0.8s ease-in-out;
        background-color: hsla(0, 0%, 100%, .8);
        box-shadow      : 14px 14px 60px 0 rgb(80 20 173 / 6%);
        backdrop-filter : blur(50px);
    }

    @keyframes fadeInDown {
        0% {
            opacity  : 0;
            transform: translate3d(0, -100%, 0);
        }

        50% {
            opacity  : 0.5;
            transform: translate3d(0, 0, 0);
        }

        100% {
            opacity: 1;
        }
    }

    .logo {
        img {
            height: 70px;
        }
    }

    .menu {
        .item {
            font-size: 1rem;

            &.active {
                color: $primary;
            }
        }
    }
    .icons{
        .menu-bar{
            display: none;
        }
    }
}