$primary   : #00a6f2;
$secondary : #eeeee8;
$logo-color: #eeeee8;
$root      : #5f5c58;

$primary-color : #024de3;
$blue-color    : #024de3;
$danger-color  : #d31616;
$dark-color    : #231f20;
$success       :#00c753;
$success-color : #00c753;
$silver-color  : #e5e5e5;
$warning-color : #ffb800;
$white         : #fff;
$slightly-dark : #7a828a;
$info-color    : #024de3;

$price         : #ff416c;
$border        : #d4d4d4;
$border-radius : 10px;
$padding       : 20px;
$box-shadow    : rgba($primary, 0.05) 0px 6px 24px 0px,
rgba($primary, 0.08) 0px 0px 0px 1px;

$label        : #024de3;
$bannerOverlay: rgb(0 52 55);

$toast-radius       : 50px;
$toast-small-radius : 50px;

.color-primary {
    color: $primary;
}

.color-root {
    color: $root;
}